@font-face {
    font-family: EliteMath;
    src: url(../EliteMath/Elite\ Math\ Regular.ttf);
}

:root {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(0, 0, 0);

    font-family: EliteMath;
    background-color: var(--primary);
    color: var(--secondary);
}
body {
    margin: 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3rem;
}
nav.top {
    background-color: var(--secondary);
    color: var(--primary);
    padding-bottom: 4px;
    a {
        display: inline-block;
        background-color: var(--secondary);
        color: var(--primary);
        text-decoration: none;
        padding: 1rem;
        width: min-content;
    }
    .active {
        background-color: var(--primary);
        color: var(--secondary);
    }
}
main {
    display: flex;
    flex-direction: column;
    margin: 2rem calc((100vw - 32rem) / 2);
    h1 {
        margin: 0 auto;
        width: max-content;
    }
    p {
        span.orange {
            color: orange;
        }
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p, a {
        font-size: 0.5rem;
    }
    nav.top {
        padding-bottom: 2px;
        a {
            padding: 0.5rem;
        }
    }
    main {
        margin: 1rem calc((100vw - 20rem) / 2);
    }
}