body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}
#canva-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}