@font-face {
    font-family: EliteMath;
    src: url(../EliteMath/Elite\ Math\ Regular.ttf);
}

:root {
    --primary: rgb(232,228,228);
    --secondary: rgb(0, 0, 0);

    font-family: EliteMath;
    background-color: var(--primary);
    color: var(--secondary);
}
body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}
#canva-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}