@font-face {
    font-family: EliteMath;
    src: url(../EliteMath/Elite\ Math\ Regular.ttf);
}
@font-face {
    font-family: Alike;
    src: url(../Alike/Alike-Regular.ttf);
}

:root {
    --primary: rgb(241, 241, 241);
    --secondary: rgb(0, 0, 0);

    font-family: Alike;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: calc(0.5vw + 8px);
}
button {
    font-family: Alike;
    color: var(--secondary);
}
body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}
#canva-content {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    #loading-background {
        background-color: var(--primary);
    }
}
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    > div {
        margin: 0;
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        > span {
            img {
                width: 12rem;
            }
            span.morse {
                font-size: .45rem;
                p {
                    margin-top: 0;
                }
            }
        }
        #content {
            width: 25rem;
            nav {
                margin: auto;
                width: max-content;
                > span:not(.morse) {
                    display: block;
                }
                span.button {
                    button {
                        border: none;
                        background-color: transparent;
                        font-size: 1.15rem;
                    }
                    span {
                        position: relative;
                        top: -0.2rem;
                        line-height:0px;
                    }
                }
                span.morse {
                    p {
                        font-size: 0.35rem;
                        color: red;
                    }
                }
            }
            p {
                font-family: EliteMath;
                text-align: center;
                font-size: 0.75rem;
            }
        }
        span.morse {
            font-family: EliteMath;
            display: flex;
            justify-content: space-around;
            p {
                font-weight: bold;
            }
        }
        
    }
}
#morse-flash {
    background-color: transparent;
}
#morse-flash.active {
    background-color: rgba(61, 68, 83, 0.482);
}
#settings {
    --closed-top: -20rem;

    transition: top 500ms;

    left: calc(2 * (8vw + 2rem));
    top: var(--closed-top);
    #settings-arrow-down {
        padding: 0.5rem;
        > * {
            display: inline-block;
            height: 0.2rem;
            width: 2rem;
            background-color: transparent;
            margin: 0;
            
            transition: background-color 250ms;
        }
        > .left {
            transform: rotate(20deg);
            margin-right: -0.45rem;
        }
        > .right {
            transform: rotate(-20deg);
        }
        animation: 1500ms infinite normal backandforth;
        animation-timing-function: linear;
    }
    #settings-arrow-down.active {
        cursor: pointer;
        > * {
            background-color: black;
        }
    }
    #settings-x {
        cursor: pointer;
        top: 0.75rem;
        right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        > * {
            position: absolute;
            height: 0.1rem;
            width: 1rem;
            background-color: gray;
        }
        > .left {
            transform: rotate(45deg);
        }
        > .right {
            transform: rotate(-45deg);
        }
    }
    .content {
        padding: 2.25rem;
        > span {
            display: flex;
            justify-content: center;
            gap: 1rem;
            > span {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;

                .switch {
                    --bar-width: 2rem;
                    --bar-height: 1rem;
                    --node-size: 1.4rem;
                    --node-polarity: -1;
                    --transition-time: 250ms;

                    position: relative;

                    display: flex;
                    justify-content: center;
                    .bar {
                        width: var(--bar-width);
                        height: var(--bar-height);
                        background-color: white;
                        border: 0.1rem grey solid;
                        border-radius: calc(var(--bar-height) / 2);
                        box-sizing: border-box;
                        
                        -webkit-transition: background-color var(--transition-time);
                        -ms-transition: background-color var(--transition-time);
                        transition: background-color var(--transition-time);
                    }
                    .node {
                        position: absolute; 
                        background-color: grey; 
                        width: var(--node-size); 
                        height: var(--node-size); 
                        border-radius: calc(var(--node-size) / 2); 
                        top: calc((var(--bar-height) - var(--node-size)) / 2); 
                        margin-left: calc(var(--node-polarity) * var(--bar-width) / 2);

                        -webkit-transition: background-color var(--transition-time);
                        -ms-transition: background-color var(--transition-time);
                        transition: margin-left var(--transition-time), background-color var(--transition-time);
                    }
                }
                .switch.active {
                    --node-polarity: 1;
                    
                    .bar {
                        border-color: black;
                    }
                    .node {
                        background-color: black; 
                    }
                }
            }
        }
        p {
            text-align: center;
            font-size: 0.55rem;
            color: grey;
            margin-top: 0.9rem;
        }
    }
}
#settings.active {
    top: 0;
}
@keyframes backandforth {0%{top:0;} 25%{top:0.25rem;} 50%{top:0;} 75%{top:-0.25rem;} 100%{top:0;}}
