@font-face {
  font-family: EliteMath;
  src: url(/EliteMath/Elite\ Math\ Regular.ttf);
  font-family: Alike;
  src: url(/Alike/Alike-Regular.ttf);
  font-family: Helvetica;
  src: url(/Helvetica/Helvetica.ttf);
  font-family: Source_Code_Pro;
  src: url(/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}

:root {
  --primary: #cacbcf;
  --secondary: rgb(45, 36, 35);
  font-family: Alike;
  background-color: black;
  color: var(--secondary);
  font-size: min(max(calc(0.5vw + 8px), 10px), 18px);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  touch-action: manipulation;
}

button,
a {
  font-family: Alike;
  color: var(--secondary);
  cursor: pointer;
}

.img-hover-purple,
.img-hover-purpler,
.img-hover-3-purple {
  transition: filter 250ms;
}

.img-hover-purple-0-5:hover {
  filter: brightness(0.375) sepia(1) hue-rotate(270deg) saturate(1.5);
}

.img-hover-purple:hover {
  filter: brightness(0.475) sepia(1) hue-rotate(270deg) saturate(1.5);
}

.img-hover-purple-1-5:hover {
  filter: brightness(0.475) sepia(1) hue-rotate(270deg) saturate(2.25);
}

.img-hover-purpler:hover {
  filter: brightness(0.8) sepia(1) hue-rotate(270deg) saturate(3);
}

.img-hover-3-purple:hover {
  filter: brightness(1.5) sepia(1) hue-rotate(270deg) saturate(16) brightness(0.6);
}

main:not(.inverted):not(.first-inverted) nav button.active {
  filter: brightness(1) sepia(1) hue-rotate(270deg) saturate(8);
}

html,
body {
  overflow: hidden;
  height: 100dvh;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body div img {
  user-select: none;
}

#curtain {
  --transition-time: 0.5s;

  position: fixed;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 100;

  transition: opacity var(--transition-time) ease, visibility 0s linear var(--transition-time);

}

#curtain.active {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition-time) ease;
}

body:has(main.inverted) #background-content {
  opacity: 0.18;
}

body:has(main.first-inverted) #background-content {
  opacity: 0;
}

#background-content {
  --opacity-transition: 1500ms;

  width: 100vw;
  height: 100dvh;
  padding-bottom: 0;
  overflow: hidden;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;

  transition: opacity var(--opacity-transition);
}

#background-content #loading-background {
  background-color: var(--primary);
}

#background-content img {
  image-rendering: -webkit-optimize-contrast;
  /* Safari */
  image-rendering: crisp-edges;
  /* Standard */
  image-rendering: pixelated;

  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  object-fit: cover;

}

#background-content #background {
  height: 100%;
}

#background-picture {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#background-picture .image-wrapper {
  display: none;
  height: 66%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 1.5rem;
}

#background-picture .image-wrapper.loaded::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.1);
  z-index: -1;
}

#background-picture .image-wrapper {
  position: relative;
  overflow: hidden;
}


#background-picture .image-wrapper.active {
  display: flex;
}

#background-picture .image-wrapper img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: calc(1.5rem - 5px);
}

#background-picture.active {
  display: flex;
}

main {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
}

main>div {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 0;
  box-sizing: border-box;
}

main>div:has(#home-logo-morse-container.top) {
  justify-content: start;
  padding: 0;
}

#home-logo-morse-container img.underline {
  width: calc(100% - 1.1rem);
  display: none;
  position: absolute;
  bottom: -0.28rem;
}

#home-logo-morse-container.top {
  position: relative;
  padding: 0.75rem 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 1px solid black; */
  position: absolute;
  z-index: 1;

  transition: opacity 250ms;
}

#home-logo-morse-container .fuzz-background {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home-logo-morse-container.top .background {
  background-color: black;
  background-image: url(/images/black_sand_zoomed.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 1;
}

#home-logo-morse-container.top img.underline {
  opacity: 0;
  display: block;
}

#home-logo-morse-container.scrolled.top img.underline {
  opacity: 0;
}

#home-logo-morse-container .background {
  background-size: cover;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 1px solid black;

  transition: opacity 300ms, border-bottom 300ms;
  filter: blur(1px);
}

#home-logo-morse-container.scrolled.top {
  border-color: transparent;

  transition: border-color 300ms, background-color 300ms;
}

#home-logo-morse-container.scrolled.top .background {
  opacity: 1;
}

#home-logo-morse-container.top #home-logo-container {
  width: 6rem;
  transform: translateY(4%);
}

#home-logo-morse-container.top>.morse img {
  /* height: 0.17rem; */
  display: none;
}

#home-logo-morse-container {
  width: min-content;
  min-width: 0;
  transition: background-color 250ms;
  position: relative;
}

#home-logo-morse-container img.morse {
  margin-top: 0.25rem;
  height: 0.325rem;
  object-fit: contain;
}

#home-logo-morse-container>span,
#home-logo-morse-container>button {
  position: relative;
  height: min-content;
  display: block;
  min-height: 0;
  padding: 0;
}

#home-logo-container {
  width: 12rem;
  min-width: 0;
  min-height: 0;
  max-width: 100vw;
  max-height: 100svh;
  background: none;
  border: none;
  outline: none;
}

#home-logo-container img {
  cursor: pointer;
}

#home-logo-morse-container>span img,
#home-logo-morse-container>button img {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 0;
  min-height: 0;
  max-width: 100vw;
  max-height: 100svh;
}

main {
  --brightness: 0.2;
  --text-brightness: calc(1 - var(--brightness) * (3 / 4));
  --image-brightness: var(--brightness);
}

main img {
  will-change: filter;
}

main.inverted img,
main.first-inverted img {
  filter: invert(100%) brightness(calc(1 + var(--image-brightness)));
  transition: filter 250ms ease;
}

main.inverted #home-logo,
main.first-inverted #home-logo,
main>div:has(#home-logo-morse-container.top) #home-logo-morse-container #home-logo {
  filter: invert(100%) brightness(calc(0.85 + var(--image-brightness)));
}

main.first-inverted #loading-div {
  display: block;
  height: 0;
}

main #loading-div {
  display: none;
  transform: translateY(1.25rem);
}

main #loading-div button {
  background-color: transparent;
  border: unset;
}

main #loading-div img.message {
  height: 1rem;
  width: auto;
  object-fit: cover;
}

main>div #content {
  position: relative;
  width: max-content;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-top: 0.75rem;
  opacity: 1;

  transition: opacity 250ms;
}

main.first-inverted>div #content {
  opacity: 0;
  pointer-events: none;
}

main>div:has(#home-logo-morse-container.top) #content {
  padding-top: 4rem;
}

main>div #content nav {
  margin: auto;
  width: max-content;
  padding-bottom: 1rem;
}

main>div #content nav>span {
  display: flex;
  gap: 0.4rem;
}

main>div #content nav>span>span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

main>div #content nav>span>span img {
  height: 0.4rem;
  object-fit: contain;
}

main>div #content nav>span>span button img {
  align-self: center;
}

main>div #content nav>span>span button img,
main>div #content nav>span>img.vertical-line {
  height: 1rem;
  object-fit: contain;
}

main>div #content nav>span>img.vertical-line {
  height: 0.9rem;
}

#bands-nav {
  position: relative;
  display: flex;
}

#bands-nav img {
  height: 1rem;
}

main nav button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

main.inverted nav img,
main.first-inverted nav img {
  transition: filter 250ms;
}

main.inverted nav img,
main.first-inverted nav img,
main nav:not(#bands-nav) button img:hover {
  filter: invert(90%);
}

main nav:not(#bands-nav) button.active img:hover {
  filter: invert(9%);
}

main.inverted #bands-nav img,
main.first-inverted #bands-nav img {
  filter: invert(100%);
}

main>div #content #rareroom-title {
  width: 4rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

#about-container {
  position: relative;
  width: max-content;
  height: max-content;
  margin: auto;
  padding-left: 1.5%;
}

#about-container img {
  width: 20rem;
}

body:has(#curtain) main>div #content #pollish-link {
  opacity: 0;
}

main>div #content #pollish-link {
  position: absolute;
  font-size: 85%;
  right: 1.5%;
  top: 40%;
  letter-spacing: 0.015rem;
  opacity: 1;

  transition: opacity 250ms;
}

main>div #content .contact {
  margin: auto;
  margin-bottom: 0.5rem;
}

main button span,
main button span::before,
main nav button {
  transition: color 250ms;
  position: relative;
}

main button span::before,
main nav button::before {
  box-sizing: border-box;
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0%;
  background-color: var(--secondary);

  transition: width 0.25s ease;
}

main nav button::before {
  bottom: 10%;
}

main #bands-nav button::before {
  bottom: 20%;
  background-color: var(--secondary);
}

main nav button:not(.active):hover::before,
main nav button.active::before {
  width: 100%;
}

main.inverted nav button::before,
main.first-inverted nav button::before {
  background-color: rgb(calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255));
}

main nav button:hover::before {
  filter: invert(0.9);
}

main nav button.active:hover::before {
  filter: invert(0.05);
}

main button:not(.nav-button) span {
  font-size: 0.95rem;
}

main .nav-button.active span {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2.5px;
}

.image-a {
  background-color: rgb(101 27 86);
  color: transparent;
  mix-blend-mode: screen;
}

.image-a:hover {
  background-color: rgb(48 2 37);
}

.social-media-icons {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.social-media-icons a,
.social-media-icons>img {
  opacity: 0;
  height: 0.75rem;
}

.social-media-icons a.seen,
.social-media-icons>img.seen {
  opacity: 1;
}

.social-media-icons a img {
  height: 100%;
  object-fit: cover;
  display: block;
}

main>div #content #social-media-icons {
  width: max-content;
  height: max-content;
  margin: auto;
}

main>div #content ul a {
  color: var(--secondary);
  font-size: 1.75rem;
  padding: 0.25rem;
}

main>div #content ul a svg {
  --size: 1.3rem;

  display: block;
  height: var(--size);
  width: var(--size);
  line-height: 1;
}

#contact-email {
  width: max-content;
}

#contact-email img {
  height: 0.7rem;
  object-fit: contain;
}

main>div #content a.contact:hover {
  opacity: 1;
}

#artist-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 0;
  padding: 2rem 0;
}

#artist-div img {
  object-fit: contain;
}

#artist-images {
  width: 150svh;
  max-width: 85vw;
  margin: auto;
}

#artist-images .image-wrapper {
  display: none;
  width: 100%;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 1.5rem;
}

#artist-images .image-wrapper.loaded::before {
  content: "";
  position: absolute;
  inset: auto;
  left: 0;
  right: 0;
  top: var(--bg-top, 0);
  height: var(--bg-height, 100%);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.1);
  z-index: -1;
}

#artist-images .image-wrapper.active {
  display: block;
}

#artist-images .image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: calc(1.5rem - 5px);
}

#artist-name-container {
  /* Create a positioning context for the underline */
  position: relative;

  /* Use inline-grid, which is naturally shrink-to-fit.
       This is key to making the container wrap the name image. */
  display: inline-grid;

  /* Center the container on the page */
  margin: 0 auto;

  /* Set an explicit height for vertical alignment */
  height: 2.75rem;

  /* Align the name image in the center of the container's height */
  align-items: center;

  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}


#artist-name-link {
  /* The link will now naturally size to the image inside it */
  display: block;
}

#artist-name {
  height: 1.5rem;
  width: auto;
  /* Let the image's aspect ratio determine its width */
  display: block;
  /* Removes extra space below the image */
}

#artist-name-container .underline {
  /* Take the underline out of the layout flow entirely */
  position: absolute;
  bottom: -0.5rem;
  left: 0px;

  /* This will now reliably be 100% of the container's width,
       which is now correctly sized by the name image. */
  width: 100%;

  height: 1rem;
  object-fit: fill;
}

#artist-socials {
  width: 100%;
}

#artist-socials .social-media-icons a,
#artist-socials .social-media-icons>img {
  height: 1rem;
  flex-shrink: 0
}

.black-overlay-page {
  visibility: hidden;
  z-index: 2;
  /* Above settings */
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  opacity: 0;

  transition: opacity 250ms, visibility 250ms;
}

.black-overlay-page.active {
  visibility: visible;
  opacity: 1;
}

.black-overlay-page .x {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 1;
}

.black-overlay-page .x img {
  width: 1.6rem;
  object-fit: cover;
}

.black-overlay-page .x img,
#studio-div .carousel button img {
  filter: invert(100%);

  transition: filter 250ms;
}

.black-overlay-page .x img:hover,
#studio-div .carousel button img:hover {
  filter: invert(80%);
}

#studio-div .carousel {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#studio-div .carousel-track {
  display: flex;
  transition: transform 0.6s ease;
  height: 100%;
  width: 100%;
  /* one "viewport width" per image */
}

#studio-div .carousel-track img {
  width: 100vw;
  /* each slide takes up full screen width */
  height: 100dvh;
  /* each slide area fills screen height */
  object-fit: contain;
  /* image never stretches */
  object-position: center;
  /* center image within its box */
  background-color: black;
  /* fill space around images cleanly */
  flex-shrink: 0;
  /* don’t compress slides */
}

#studio-div .carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.3s;
  z-index: 2;
}

#studio-div .carousel button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#studio-div .carousel button img {
  display: block;
  width: 1rem;
  object-fit: fill;
  height: 1.6rem;
}

#studio-div .carousel button.back {
  left: 1rem;
}

#studio-div .carousel button.forward {
  right: 1rem;
}

#loading-bar {
  display: none;
}

img.comma {
  margin-left: 0.05rem;
  margin-right: 0.4rem;
  transform: translateY(0.1rem);
}

#home-logo-morse-container span.morse {
  font-family: EliteMath;
  display: flex;
  justify-content: space-around;
}

#home-logo-morse-container span.morse p {
  font-weight: bold;
}

#home-logo-shadow {
  opacity: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}

#home-logo-shadow.active {
  opacity: 0.4;
}

#settings {
  --closed-top: -30rem;
  position: absolute;
  transition: transform 500ms;
  transform: translate(calc(32vw - 16rem), var(--closed-top));
  top: 0.45rem;
  left: 0;
  display: flex;
}

#settings>*:not(#settings-arrow-down) {
  opacity: 0;

  transition: opacity 250ms;

}

#settings #settings-border {
  filter: brightness(1.5) contrast(0.5);
}

#settings #settings-arrow-down {
  --margin-top: 0;
  --margin-left: 0;
  --top: 0;
  --left: 0;
  width: max-content;
  margin-top: var(--margin-top);
  margin-left: var(--left);
  padding: 0.5rem;
  padding-bottom: 1rem;
  animation: 1000ms infinite normal backandforth;
  animation-timing-function: linear;
  opacity: 0;
  background-color: transparent;
  border: none;
  pointer-events: none;
  cursor: default;

  transition: opacity 250ms;
}

#settings #settings-arrow-down img {
  height: 1rem;
  object-fit: contain;
}

#settings #settings-arrow-down.active {
  opacity: 1;
  display: block;
}

#settings #settings-arrow-down:not(.up-away).active {
  pointer-events: unset;
  cursor: pointer;
}

#settings #settings-arrow-down.up-away img {
  transform: translateY(-3rem);
  transition: transform 250ms;
}

#settings #settings-x {
  --size: 0.85rem;

  cursor: pointer;
  top: 1.8rem;
  right: 2rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

#settings #settings-x img {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

#settings .content {
  margin-top: 0.3rem;
  padding: 2rem;
  padding-top: 2.65rem;
  width: 100%;
}

#settings .content button {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 0.5rem;
  padding: 0 0.125rem;
}

#settings .content>div {
  height: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.3rem;
}

#settings .content>div img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#settings .content>div span {
  display: flex;
  gap: 0.5rem;
}

#settings .content>div span * {
  display: inline-block;
}

#settings .content>div span button img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#settings .content>div span button.active img {
  filter: brightness(0.8) sepia(1) hue-rotate(270deg) saturate(4);
}

#home-logo {
  transition: filter 300ms ease, opacity 300ms ease;
}

#home-logo:hover {
  opacity: 0.8;
}

#settings .content p {
  text-align: center;
  font-size: 0.5rem;
  color: grey;
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0 0rem;
  font-family: Source_Code_Pro;
}

#settings.active {
  transform: translate(calc(32vw - 16rem), 0);
}

#settings.active>*:not(#settings-arrow-down) {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 3.5vw;
  }

  .img-hover-purple-0-5,
  .img-hover-purple,
  .img-hover-purple-1-5,
  .img-hover-purpler,
  .img-hover-3-purple {
    --purple-pulse-ms: 100%;
  }

  .img-hover-purple-0-5:hover,
  .img-hover-purple:hover,
  .img-hover-purple-1-5:hover,
  .img-hover-purpler:hover,
  .img-hover-3-purple:hover {
    filter: unset;
  }

  .img-hover-purple-0-5.flash {
    animation: img-hover-purple-0-5 var(--purple-pulse-ms) ease;
  }

  .img-hover-purple.flash {
    animation: img-hover-purple var(--purple-pulse-ms) ease;
  }

  .img-hover-purple-1-5.flash {
    animation: img-hover-purple-1-5 var(--purple-pulse-ms) ease;
  }

  .img-hover-purpler.flash {
    animation: img-hover-purpler var(--purple-pulse-ms) ease;
  }

  .img-hover-3-purple.flash {
    animation: img-hover-3-purple var(--purple-pulse-ms) ease;
  }

  main nav:not(#bands-nav) button.active img:hover,
  main nav button.active:hover::before {
    filter: unset;
  }

  main nav:not(#bands-nav) button img:hover {
    filter: unset;
  }

  main>div {
    margin: 0;
    padding-top: 4.25rem;
  }

  #home-background {
    display: none !important;
  }

  main #loading-div {
    top: 22%;
  }

  main>div {
    justify-content: start;
  }

  main>div #content #pollish-link {
    right: 1.5%;
  }

  main nav button:hover::before,
  main.inverted nav button::before,
  main nav button:hover::before,
  main.first-inverted nav button::before {
    background-color: var(--secondary);
  }

  #home-logo:hover {
    opacity: 1;
  }

  #artist-socials .social-media-icons a,
  #artist-socials .social-media-icons>img {
    height: 0.725rem;
  }

  main>div #content #bands-nav {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;
    width: 100%;
  }

  main>div #content nav>span>span button img,
  main>div #content nav>span>img.vertical-line {
    height: 1rem;
  }

  main nav button:not(.active):hover::before {
    width: 0;
  }

  #bands-nav button {
    width: 100%;
  }

  #bands-nav img.comma {
    display: none;
  }

  #artist-images img {
    width: 75vw;
  }

  #settings {
    bottom: var(--closed-top);
    top: unset;
    left: 50%;

    transform: translate(-50%, 0);
  }

  #settings img {
    --left: 0;
  }

  #settings #settings-arrow-down {
    transform: rotate(-180deg);
    animation: 1000ms infinite normal upanddown;
    animation-timing-function: linear;
    top: 0;
    margin-top: calc(-1 * var(--top) + 12px);
  }

  #settings.active {
    transform: translate(-50%, -14rem);
  }

  #artist-images .image-wrapper.loaded::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #artist-images .image-wrapper {
    position: relative;
    overflow: hidden;
  }

  #artist-images {
    margin: 0 auto;
  }

  #artist-div {
    justify-content: center;
    min-height: calc(100dvh - 8rem);
  }
}

@keyframes backandforth {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0.25rem);
  }

  75% {
    transform: translateY(-0.25rem);
  }
}

@keyframes upanddown {

  0%,
  100% {
    transform: rotate(-180deg) translateY(0);
  }

  25% {
    transform: rotate(-180deg) translateY(0.25rem);
  }

  75% {
    transform: rotate(-180deg) translateY(-0.25rem);
  }
}

@keyframes img-hover-purple-0-5 {
  0% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }

  50% {
    filter: brightness(0.375) sepia(1) hue-rotate(270deg) saturate(1.5);
  }

  100% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
}

@keyframes img-hover-purple {
  0% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }

  50% {
    filter: brightness(0.475) sepia(1) hue-rotate(270deg) saturate(1.5);
  }

  100% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
}

@keyframes img-hover-purple-1-5 {
  0% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }

  50% {
    filter: brightness(0.475) sepia(1) hue-rotate(270deg) saturate(2.25);
  }

  100% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
}

@keyframes img-hover-purpler {
  0% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }

  50% {
    filter: brightness(0.8) sepia(1) hue-rotate(270deg) saturate(3);
  }

  100% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
}

@keyframes img-hover-3-purple {
  0% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }

  50% {
    filter: brightness(1.5) sepia(1) hue-rotate(270deg) saturate(16) brightness(0.6);
  }

  100% {
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(1);
  }
}