@font-face {
  font-family: EliteMath;
  src: url(/EliteMath/Elite\ Math\ Regular.ttf);
  font-family: Alike;
  src: url(/Alike/Alike-Regular.ttf);
  font-family: Helvetica;
  src: url(/Helvetica/Helvetica.ttf);
}
@font-face {
    font-family: Source_Code_Pro;
    src: url(/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}

:root {
  --primary: #cacbcf;
  --secondary: rgb(45, 36, 35);
  font-family: Alike;
  background-color: black;
  color: var(--secondary);
  font-size: min(max(calc(0.5vw + 8px), 10px), 18px);
}

button {
  font-family: Alike;
  color: var(--secondary);
  cursor: pointer;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

body div img {
  user-select: none;
}

#curtain {
  --transition-time: 0.5s;

  position: fixed;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  
  transition: opacity var(--transition-time) ease, visibility 0s linear var(--transition-time);
  
}

#curtain.active {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition-time) ease;
}

#background-content {
  --paper-size: 200%;

  width: 100%;
  height: var(--paper-size);
  padding-bottom: 0;
  overflow: hidden;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

#background-content #loading-background {
  background-color: var(--primary);
}

#background-content img {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

#background-content #background {
  height: 100%;
}

#background-picture {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#background-picture img {
  object-fit: cover;
  height: 66%;
}

#background-picture.active {
  display: flex;
}

main {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
}

main > div {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 0;
  box-sizing: border-box;
}

main > div:has(#home-logo-morse-container.top) {
  justify-content: start;
  padding: 0;
}

#home-logo-morse-container.top {
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home-logo-morse-container.scrolled.top {
  background-color: black;
}

#home-logo-morse-container.top #home-logo-container {
  width: 6rem;
  transform: translateY(4%);
}

#home-logo-morse-container.top > .morse img {
  /* height: 0.17rem; */
  display: none;
}

#home-logo-morse-container {
  width: min-content;
  min-width: 0;
  transition: background-color 250ms;
}

#home-logo-morse-container img.morse {
  margin-top: 0.25rem;  
  height: 0.325rem;
  object-fit: contain;
}

#home-logo-morse-container > span {
  position: relative;
  height: min-content;
  display: block;
  min-height: 0;
}

#home-logo-container {
  width: 12rem;
  min-width: 0;
  min-height: 0;
  max-width: 100vw;
  max-height: 100vh;
}

#home-logo-container img {
  cursor: pointer;
}

#home-logo-morse-container > span img {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 0;
  min-height: 0;
  max-width: 100vw;
  max-height: 100vh;
}

main {
  --brightness: 0.2;
  --text-brightness: calc(1 - var(--brightness) * (3 / 4));
  --image-brightness: var(--brightness);
}

main img {
  will-change: filter;
}

main.inverted img {
  filter: invert(100%) brightness(calc(1 + var(--image-brightness)));
  transition: filter 250ms ease;
}

main.inverted #home-logo, main > div:has(#home-logo-morse-container.scrolled.top) #home-logo-morse-container #home-logo {
  filter: invert(100%) brightness(calc(0.85 + var(--image-brightness)));
}

main.inverted #content nav button, main.inverted > div #content nav span {
  color: rgb(calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255));
}

main > div #content {
  position: relative;
  width: max-content;
  min-height: 0;
  overflow-y: auto;
  width: 100%;
  padding-top: 0.75rem;
}

main > div #content nav {
  margin: auto;
  width: max-content;
  padding-bottom: 1rem;
}

main > div #content nav > span > span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

main > div #content nav span button {
  border: none;
  background-color: transparent;
  font-size: 1.15rem;
}

main > div #content nav > span > span img {
  height: 0.4rem;
  object-fit: contain;
}

#bands-nav {
  position: relative;
  display: flex;
  gap: 1rem;
}

#bands-nav img {
  height: 1rem;
}

main #bands-nav button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

main.inverted #bands-nav img {
  filter: invert(100%);
}

main > div #content #rareroom-title {
  width: 4rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

main > div #content img.about {
  width: 20rem;
  transform: translateX(5%);
  margin: auto;
}

main > div #content #pollish-link {
  right: 38.85%;
  position: absolute;
  font-size: 85%;
  top: 65%;
  letter-spacing: 0.015rem;
}

main button span, main button span::before, main #bands-nav button   {
  transition: color 250ms ease; 
  position: relative;
}

main button span::before, main #bands-nav button::before {
  box-sizing: border-box;
  content: "";
  height: 0.5px;
  width: 0%;
  position: absolute;
  bottom: 0%;
  transition: width 0.25s ease;
  background-color: var(--secondary);
}

main #bands-nav button::before {
  bottom: 20%;
}

main button:not(.active) span:hover::before, main #bands-nav button:hover::before {
  width: 100%;
}
main button.nav-button span:hover::before {
  background-color: rgb(calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255));
}

main #bands-nav button:hover::before {
  background-color: rgb(calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255));
}

main button:not(.nav-button) span {
  font-size: 0.95rem;
}

main .nav-button.active span {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2.5px;
}

main .nav-button:hover {
  color: rgb(calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255), calc(var(--text-brightness) * 255));
}

.image-a {
  background-color: rgb(38, 13, 37);
  color: transparent;
  mix-blend-mode: screen;
}

main > div #content ul {
  width: max-content;
  padding: 0;
  margin: auto;
}

main > div #content ul a {
  color: var(--secondary);
  font-size: 1.75rem;
  padding: 0.25rem;
}

main > div #content ul a svg {
  --size: 1.3rem;

  display: block;
  height: var(--size);
  width: var(--size);
  line-height: 1;
}

main > div #content img.contact {
  margin-top: 0.5rem;
  width: 12rem;
  object-fit: contain;
  margin: auto;
}

main > div #content a.contact {
  opacity: 0;
  bottom: 27%;
  font-size: 55%;
  letter-spacing: 0.145rem;
  position: absolute;
  right: 45.28%;

  transition: opacity 300ms;
}
main > div #content a.contact:hover {
  opacity: 1;
}

#artist-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 0;
  padding: 2rem 0;
}

#artist-div img {
  object-fit: contain;
}

#artist-image {
  width: 150vh;
  margin: auto;
}

#artist-name {
  height: 1.5rem;
}

#home-logo-morse-container span.morse {
  font-family: EliteMath;
  display: flex;
  justify-content: space-around;
}

#home-logo-morse-container span.morse p {
  font-weight: bold;
}

#home-logo-shadow {
  opacity: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}

#home-logo-shadow.active {
  opacity: 0.4;
}

#settings {
  --closed-top: -20rem;
  position: absolute;
  transition: transform 500ms;
  transform: translate(calc(32vw - 16rem), var(--closed-top));
  top: 0;
  left: 0;
  display: flex;
}

#settings img {
  --left: 0;
}

#settings #settings-arrow-down {
  --margin-top: 0;
  --margin-left: 0;
  --top: 0;
  --left: 0;
  width: max-content;
  margin-top: var(--margin-top);
  margin-left: var(--left);
  padding: 0.5rem;
  padding-bottom: 1rem;
  animation: 1000ms infinite normal backandforth;
  animation-timing-function: linear;
}

#settings #settings-arrow-down > * {
  position: relative;
  top: -0.5rem;
  display: inline-block;
  height: 0.075rem;
  width: 2rem;
  background-color: transparent;
  margin: 0;
  transition: background-color 250ms;
}

#settings #settings-arrow-down > .left {
  transform: rotate(20deg);
  margin-right: -0.45rem;
}

#settings #settings-arrow-down > .right {
  transform: rotate(-20deg);
}

#settings #settings-arrow-down.active {
  cursor: pointer;
}

#settings #settings-arrow-down.active > * {
  background-color: black;
}

#settings #settings-x {
  cursor: pointer;
  top: 1rem;
  right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings #settings-x > * {
  --scalage: 0.15;
  position: absolute;
  height: 1px;
  width: 1.3rem;
  background-color: black;
  border-radius: 100%;
  clip-path: ellipse(50% 20% at 50% 50%);
}

#settings #settings-x > .left {
  transform: rotate(45deg);
}

#settings #settings-x > .right {
  transform: rotate(-45deg);
}

#settings .content {
    margin-top: 0.5rem;
    padding: 2rem;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
}

#settings .content button {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 0.5rem;
  padding: 0 0.125rem;
}

#settings .content > div {
  height: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

#settings .content > div img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#settings .content > div span {
  display: flex;
  gap: 0.5rem;
}

#settings .content > div span * {
  display: inline-block;
}

#settings .content > div span button img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#settings .content > div span button.active img, #settings .content > div button:hover img {
  filter: brightness(2) sepia(1) hue-rotate(270deg) saturate(3) brightness(0.45) blur(0.2px);
  transition: filter 300ms ease;
}

#settings .content p {
  text-align: center;
  font-size: 0.5rem;
  color: grey;
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0 0rem;
  font-family: Source_Code_Pro;
}

#settings.active {
  transform: translate(calc(32vw - 16rem), 0);
}

@media only screen and (max-width: 600px) {
  main > div {
    margin: 0;
  }
  #settings {
    --closed-left: -20rem;
    transform: translate(var(--closed-left), 14rem);
  }
  #settings img {
    --left: 0;
  }
  #settings #settings-arrow-down {
    transform: rotate(-90deg);
    animation: 1000ms infinite normal leftandright;
    animation-timing-function: linear;
    top: 0;
    margin-left: calc(var(--margin-left) - 1rem);
    margin-top: var(--top);
  }
  #settings.active {
    transform: translate(0, 14rem);
  }
}

@keyframes backandforth {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.25rem);
  }
  75% {
    transform: translateY(-0.25rem);
  }
}

@keyframes leftandright {
  0%,
  100% {
    transform: rotate(-90deg) translateY(0);
  }
  25% {
    transform: rotate(-90deg) translateY(0.25rem);
  }
  75% {
    transform: rotate(-90deg) translateY(-0.25rem);
  }
}
