@font-face {
    font-family: EliteMath;
    src: url(/EliteMath/Elite\ Math\ Regular.ttf);
}
@font-face {
    font-family: Alike;
    src: url(/Alike/Alike-Regular.ttf);
}

:root {
    --primary: rgb(241, 241, 241);
    --secondary: rgb(0, 0, 0);

    font-family: Alike;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: calc(0.5vw + 8px);
}
button {
    font-family: Alike;
    color: var(--secondary);
}
body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;

    div img {
        user-select: none;
    }
}
#background-content {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    #loading-background {
        background-color: var(--primary);
    }
    iframe, img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
    img {
        object-fit: cover;
    }
}
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    > div {
        margin: 0;
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.75rem;
        > span {
            img:not(.morse) {
                position: absolute;
                width: 12rem;
            }
            img.morse {
                margin-top: 0.25rem;
                height: 0.325rem;
                object-fit: contain;
            }
        }
        #content {
            width: max-content;
            nav {
                margin: auto;
                width: max-content;
                > span {
                    > span {
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.1rem;
                        
                        button {
                            border: none;
                            background-color: transparent;
                            font-size: 1.15rem;
                        }
                        img {
                            height: 0.4rem;
                            object-fit: contain;
                        }
                    }
                    
                }
            }
            img.about.title {
                width: 4rem;
                margin: auto;
            }
            img.about:not(.title) {
                margin-top: 0.5rem;
                width: 24rem;
                transform: translateX(25%);
            }
            ul {
                width: max-content;
                padding: 0;
                margin: auto;
                a {
                    color: var(--secondary);
                    font-size: 1.75rem;
                    margin: 0.25rem;
                }
            }
        }
        span.morse {
            font-family: EliteMath;
            display: flex;
            justify-content: space-around;
            p {
                font-weight: bold;
            }
        }
        
    }
}
#morse-flash {
    background-color: transparent;
}
#morse-flash.active {
    background-color: rgba(61, 68, 83, 0.482);
}
#settings {
    --closed-top: -20rem;

    position: absolute;
    transition: transform 500ms;
    transform: translate(calc(32vw - 16rem), var(--closed-top));
    top: 0;
    left: 0;

    display: flex;
    img {
        --left: 0;
    }
    #settings-arrow-down {
        --margin-top: 0;
        --margin-left: 0;
        --top: 0;
        --left: 0;

        width: max-content;
        margin-top: var(--margin-top);
        margin-left: var(--left);
        padding: 0.5rem;
        padding-bottom: 1rem;
        > * {
            position: relative;
            top: -0.5rem;
            display: inline-block;
            height: 0.15rem;
            width: 2rem;
            background-color: transparent;
            margin: 0;
            
            transition: background-color 250ms;
        }
        > .left {
            transform: rotate(20deg);
            margin-right: -0.45rem;
        }
        > .right {
            transform: rotate(-20deg);
        }
        animation: 1000ms infinite normal backandforth;
        animation-timing-function: linear;
    }
    #settings-arrow-down.active {
        cursor: pointer;
        > * {
            background-color: black;
        }
    }
    #settings-x {
        cursor: pointer;
        top: 1rem;
        right: 1.25rem;
        width: 1.5rem;
        height: 1.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        > * {
            --scalage: 0.15;

            position: absolute;
            height: 1px;
            width: 1.3rem;
            background-color: black;
            border-radius: 100%;

            clip-path: ellipse(50% 20% at 50% 50%);
        }
        > .left {
            transform: rotate(45deg);
        }
        > .right {
            transform: rotate(-45deg);
        }
    }
    .content {
        margin-top: 0.5rem;
        padding: 2.25rem;
        > span {
            display: flex;
            justify-content: center;
            gap: 1rem;
            > span {
                --image-size: 4rem;

                display: flex;
                flex-direction: column;
                gap: 0.6rem;

                .image-container {
                    position: relative;
                    display: flex;

                    img {
                        object-fit: cover;
                    }
                    img:first-child {
                        width: var(--image-size);
                    }
                    *:not(:first-child) {
                        --size: 55%;

                        position: absolute;
                        left: calc((100% - var(--size)) / 2);
                        width: var(--size);
                        align-self: center;
                    }
                }
                .image-container.light {
                    *:not(:first-child) {
                        transform: translateY(15%);
                    }
                }
                .image-container.sound {
                    img:first-child {
                        width: calc(0.9 * var(--image-size));
                    }
                    *:not(:first-child) {
                        --size: 60%;
                    }
                }
                .switch {
                    --bar-width: 2rem;
                    --bar-height: 0.9rem;
                    --node-size: 1.3rem;
                    --node-polarity: -1;
                    --transition-time: 250ms;

                    position: relative;

                    display: flex;
                    justify-content: center;
                    .bar {
                        width: var(--bar-width);
                        height: var(--bar-height);
                        background-color: white;
                        border: 0.1rem grey solid;
                        border-radius: calc(var(--bar-height) / 2);
                        box-sizing: border-box;
                        
                        -webkit-transition: background-color var(--transition-time);
                        -ms-transition: background-color var(--transition-time);
                        transition: background-color var(--transition-time);
                    }
                    .node {
                        position: absolute; 
                        background-color: grey; 
                        width: var(--node-size); 
                        height: var(--node-size); 
                        border-radius: calc(var(--node-size) / 2); 
                        top: calc((var(--bar-height) - var(--node-size)) / 2); 
                        margin-left: calc(var(--node-polarity) * var(--bar-width) / 2);

                        -webkit-transition: background-color var(--transition-time);
                        -ms-transition: background-color var(--transition-time);
                        transition: margin-left var(--transition-time), background-color var(--transition-time);
                    }
                }
                .switch.active {
                    --node-polarity: 1;
                    
                    .bar {
                        border-color: black;
                    }
                    .node {
                        background-color: black; 
                    }
                }
            }
        }
        p {
            text-align: center;
            font-size: 0.6rem;
            color: grey;
            margin-top: 0.8rem;
            padding: 0 0.5rem;
        }
    }
}
#settings.active {
    transform: translate(calc(32vw - 16rem), 0);
}

@media only screen and (max-width: 600px) {
    main {
        > div {
            margin: 0;
        }
    }
    #settings {
        --closed-left: -20rem;
        
        transform: translate(var(--closed-left), 14rem);
        img {
            --left: 0;
        }
        #settings-arrow-down {
            transform: rotate(-90deg);
            animation: 1000ms infinite normal leftandright;
            animation-timing-function: linear;

            top: 0;
            margin-left: calc(var(--margin-left) - 1rem);
            margin-top: var(--top);
        }
    }
    #settings.active {
        transform: translate(0, 14rem);
    }
}

@keyframes backandforth {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(0.25rem); }
    75% { transform: translateY(-0.25rem); }
  }
  
  @keyframes leftandright {
    0%, 100% { transform: rotate(-90deg) translateY(0); }
    25% { transform: rotate(-90deg) translateY(0.25rem); }
    75% { transform: rotate(-90deg) translateY(-0.25rem); }
  }
  
