
#privacy-policy-div {
  font-family: Source_Code_Pro;
}

#privacy-policy-div > div {
    --margin: 4rem;
    margin: var(--margin) 0;
    padding: 0 var(--margin);
    overflow-y: scroll;
    height: calc(100% - var(--margin));
    box-sizing: border-box; 
}

#privacy-policy-div > div:last-child {
    padding-bottom: 80vh;
}

#privacy-policy-div section {
    --margin-top: 1rem;

    width: 100%;
    max-width: 850px;
    margin-top: var(--margin-top);
}

#privacy-policy-div section hr {
    margin: 0;
    margin-top: calc(1rem + var(--margin-top));
    visibility: hidden;
}

#privacy-policy-div section h1 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 1rem;
    padding-left: 0;
    background-color: black;
    font-size: 1.75rem;
    text-transform: uppercase;
}

#privacy-policy-div * {
  color: white;
}

@media only screen and (max-width: 600px) {
  #privacy-policy-div > div {
    --margin: 2.25rem;
  }
  #privacy-policy-div h1 {
    font-size: 1.25rem;
  }
  #privacy-policy-div p {
    font-size: 1rem;
  }
}